/* Centered text */
.centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.highlightedText {
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px #000000;;
}

.backgroundImage {
	opacity: 0.5;
	filter: grayscale(0.5) brightness(0.4);
}

.map-container-5 {
	overflow: hidden;
}

.map-container-5 iframe {
	left: 0;
	top: 0;
	width: 100%;
}

.boldText {
	font-size: 30px;
}

.imgAbout {
	width: 200px;
	height: 207px;
}

@media screen and (max-width: 767px) {
	.mobile-space {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 767px) {
	.mobile-space-small {
		margin-top: 20px;
	}
}

.textH4 {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-weight: 700;
	line-height: 1.2;
	font-size: 1.5rem;
}

@
mixin v-align ($position: absolute ){
	position: $position;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari and Chrome */
	-o-transform: translateY(-50%);
}

.btn-square {
	border-radius: 0 !important;
}

@media screen and (max-width: 767px) {
	.textOvervlowMobile {
		overflow-wrap: break-word;
		word-wrap: break-word;
		-ms-word-break: break-all;
		/* This is the dangerous one in WebKit, as it breaks things wherever */
		word-break: break-all;
		/* Instead use this non-standard one: */
		word-break: break-word;
		/* Adds a hyphen where the word breaks, if supported (No Blink) */
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}